<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/index.css" />
    <title><%= title %></title>
</head>
<body>
    <header>Welcome to JSON Server</header>
    <div class="container">
      <p>
        JSON Server is your destination for the latest API for Tasks. Browse the wide selection of
        products Data and find the perfect fit for your needs.
      </p>
      <h2>Explore Categories:</h2>
      <ul>
        <li><a href="/app-api/tasks" target="_blank">Tasks</a></li>
      </ul>
    </div>
</body>
</html>